
h1 {
  text-align: center;
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
 }

body {
	background-color: gray;
}

#nav {
  padding: 0;
  list-style-type: none;
}


#nav li{
  margin: 0;
  padding: 0;
}

#nav a:link, #nav a:visited {
  color: black;
  background-color: #f1c61a;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: "Century Gothic", Arial, sans-serif;
  padding: 4px;
 }

 #nav a:hover, #nav a:active {
	background-color: #ABAAAA;
