
h1 {
  text-align: center;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 700;
 }

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-color: white;
}


#nav {
  padding: 0;
  list-style-type: none;
}


#nav li{
  margin: 0;
  padding: 0;
}

#nav a:link, #nav a:visited {
  color: black;
  background-color: #f1c61a;
  display: block;
  text-decoration: none;
  text-align: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
  padding: 4px;
 }

 #nav a:hover, #nav a:active {
	background-color: #ABAAAA;
