
h1 {
  text-align: center;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 700;
  font-size: 50px;
 }

 h2 {
   text-align: center;
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   font-weight: 550;
   font-size: 30px;
 }

 h3 {
   text-align: center;
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   font-weight: 550;
   font-size: 20px;
   border-bottom: solid;
   padding-bottom: 10px;
 }

 h4 {
   text-align: center;
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   font-weight: 550;
   font-size: 20px;
   background-color: grey;
   padding: 10px;
   margin-bottom: -20px;
 }

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-color: white;
}

.bold {font-weight: 700;
font-size: 40px;
}

#container {
  width: 95%;
  margin: 0 auto;
}

#nav li{
  margin: 0;
  padding: 0;
}

#nav {
  background-color: #f1c61a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

#nav a:link, #nav a:visited {
  color: black;
  display: block;
  text-decoration: none;
  text-align: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
  padding: 10px;
  font-size: 20px;
 }

 #nav a:hover, #nav a:active {
	background-color: #ABAAAA;
}

#nav2 li{
  margin: 0;
  padding: 0;
}
#nav2 {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

#nav2 a:link, #nav2 a:visited {
  color: black;
  display: block;
  text-decoration: none;
  text-align: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
  padding: 4px;
  font-size: 15px;}

  #nav2 a:hover, #nav a:active {
 	background-color: #ABAAAA;
 }

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.howto {
  font-weight: 700;
  font-size: 30px;
}

#howto {margin-bottom: 30px;}

.meet {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 80px;
  text-align: right;
  border-top: solid;
  padding-top: 5px;
}

 img {
  border: none;
  width: 100%;
  margin-left: 0px;
}

.caption {
  margin-left: 0px;
}

.contact {
  text-align: center;
  font-weight: 500px;
}
